<form (ngSubmit)="OnSubmitConsulta()">
    <div class="contenedor2">
        <h2 style="display: flex; margin-left: 40%; ">Consultas</h2>
        <div>
            <label style="margin-left: 25%;">Caciones</label>
            <input class="inputabmc2" type="radio" id="consultaCancion" name="consultas" checked="true"/>
            <label>Interpretes</label>
            <input class="inputabmc2" type="radio" id="consultaInterprete" name="consultas"/>
            <label>Generos</label>
            <input class="inputabmc2" type="radio" id="consultaGenero" name="consultas" />
            <br>
            <br>
        </div>
        <div style="display: flex; flex-direction: column;">
            <input class="inputAlto" type="text" placeholder="Escribe tu consulta">
        </div>

        <div class="contenedorRespuesta">
            <h3>Consulta</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Necessitatibus nulla odit, sapiente impedit quaerat eum, 
                sunt voluptatem ea voluptates natus corporis consequuntur mollitia magnam? Harum minus 
                incidunt necessitatibus accusamus adipisci.</p>
        </div>
    </div>
</form>
